<h2>検索結果</h2>
<% if @rooms.present? %>
  <p class="text-warning">条件に一致したのは<%=@rooms.count%>件です</p>
  <% @rooms.each do |room| %>
    <div>
      <table class="table">
        <tr>
          <th>施設名</th>
          <td><%= link_to room.name, room, class:"roomLink" %></td>
        </tr>
        <tr>
          <th>住所</th>
          <td><%= room.located %></td>
        </tr>
        <tr>
          <th>施設詳細</th>
          <td><%= room.introduction %></td>
        </tr>
        <tr>
          <th>料金/日</th>
          <td><%= room.rate %></td>
        </tr>
      </table>
    </div>
  <% end %>


<% else %>

  <p>検索結果はありません</p>
    
<% end %>

<%=link_to "トップへ", root_path %>
