<h1>施設一覧</h1>

<% if @rooms.present? %>
  <% @rooms.each do |room| %>
    <div>
      <table class="table">
        <tr>
          <th>施設画像</th>
          <td>
            <% if room.image.present? %>
              <%= image_tag room.image.url %>
            <% else %>
              <%= image_tag "defaultImage.png" %>
            <% end %>
          </td>
        </tr>
        <tr>
          <th>施設名</th>
          <td><%=link_to room.name, room, class:"roomLink" %></td>
        </tr>
        <tr>
          <th>施設詳細</th>
          <td><%= room.introduction %></td>
        </tr>
        <tr>
          <th>料金/日</th>
          <td><%= converting_to_jpy(room.rate) %></td>
        </tr>
        <tr>
          <th>作成日</th>
          <td><%= room.created_at.to_s(:datetime_jp) %></td>
        </tr>
      </table>
    </div>
  <% end %>

<% else %>

<p>作成した施設はありません</p>

<% end %>

<div>
  <%=link_to "トップへ", root_path %>
</div>
