<h2 class="display-5 text-primary">施設詳細</h2>

<table class="table table-bordered">
  <tr>
    <th>施設画像</th>
    <td>
      <% if @room.image.present? %>
        <%= image_tag @room.image.url %>
      <% else %>
        <%= image_tag 'defaultImage.png' %>
      <% end %>
    </td>
  </tr>
  <tr>
    <th>施設名</th>
    <td><%= @room.name %></td>
  </tr>
  <tr>
    <th>紹介文</th>
    <td><%= @room.introduction %></td>
  </tr>
  <tr>
    <th>宿泊料金/日</th>
    <td><%= converting_to_jpy(@room.rate) %></td>
  </tr>
</table>

<div>
  <%= link_to "戻る", :back %>
</div>


<%= render "shared/editRoom", room: @room %>
<%= render "shared/destroyRoom", room: @room %>


<% if current_user.present? %>
  <% if current_user.own?(@room) %>
  <% else %>
    <div>
      <%= link_to "施設を予約する", new_reservation_path(@room) %>
    </div>
  <% end %>
<% else %>
<% end %>
